<!DOCTYPE html>
<html>
  <head>
    <title>Cat Facts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Get a cat fact!</h1>
    <button onclick="window.location.href='/cats/fact'"> >>CAT FACT<< </button>
  </body>
</html>
