<!DOCTYPE html>
<html>
<head>
  <title>Cat Fact</title>
</head>
<body>
  <h1>Cat Fact</h1>
  <p><%= catFact %></p>
  <button onclick="window.location.href='/cats/fact'">Get another cat fact!</button>
</body>
</html>