<!DOCTYPE html>
<html>
<head>
  <title>Cat Fact</title>
  <link rel='stylesheet' href='/stylesheets/factStyle.css' />
</head>
<body>
  <h1>  Cat Fact:  </h1>
  <p><%= catFact %></p>
  <button onclick="window.location.href='/cats/fact'"> >> Get another cat fact! << </button>
  <button onclick="window.location.href='/'"> ||[> Home <]||</button>
</body>
</html>